server:
 port: 4002
 error: 
  whitelabel:
      enabled: true
   
spring:
 application:
  name: acceso-ms
 jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
        
#Eureka
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
     
