server:
  port: 4000
  error:
    whitelabel:
      enabled: true
spring:
  application:
    name: usuarios-ms
  data:
    mongodb:
      database: usuarios-colegio
      port: 27017
      host: localhost
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop    
#Eureka

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
     
